@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background:var(--color-dark-mode)
  --foreground: var(--color-white-bg);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: #8aa624;
  --color-green-light:#DBE4C9
  --color-logo: #90a059;
  --color-warning: #fea405;
  --color-secondary: #ebb328;
  --color-white-bg: #fffff0;
  --color-brand-light: #f3e8ca;
  --color-brand-dark-logo: #667d4f;
  --color-dark-mode: #1e1e1e;
  --color-primary-50: #79a25c;
  --color-white-500: #e0e0e0;
}
@layer base {
  [data-theme='light'] {
    background-color: var(--color-white-bg);
  }
  [data-them='dark'] {
    background-color: var(--color-dark-mode);
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --background:#1e1e1e;
    --foreground:  #fffff0;
  }
}

